<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="font-family:Verdana; background-color:powderblue; text-align:center;">
    <h1 style="font-size:300%; color:dodgerblue">Instructions</h1>
    <br><a href="create">CREATE</a> : Create and add data to the database.
    <br><a href="read">READ</a> : View all data in database.
    <br><a href="update">UPDATE</a> : Update existing data in the database.
    <br><a href="delete">DELETE</a> : Delete data in the database.
</body>
</html>